<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CryptoExchange | Holdings</title>
  <script src='js/jquery-3.3.1.js'></script>
  <script>

$( document ).ready(function() {

var currencies = ['USD','BTC','LTC','DOGE','XMR']
    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/data/pricemulti", 
        data: "fsyms=USD,BTC,LTC,DOGE,XMR&tsyms=USD,BTC",
        success: function(response) {
	       $.each(currencies ,function(i, currency) {
                    $("#holdings_table").append('<tr><td class="code">' + currency + '</td><td class="quantity">' + response[currency].USD + '</td><td class="value">' + response[currency].BTC + '</td></tr>');
                })}	
    })
});
  </script>
  </head>
 
  <body>
	<table id="holdings_table">
 		<tr>
  		 <th>Currency</th>
   		 <th>Value (USD)</th>
   		 <th>Value (BTC)</th>
 		</tr>
	<table>
  </body>
</html>

