<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CryptoExchange | Holdings</title>
  <script src='js/jquery-3.3.1.js'></script>
  <script>

$( document ).ready(function() {

    $.ajax({
        type: "GET",
        dataType: "json",
        url: "holdings/2", 
        success: function(response) {
	       $.each(response,function(i, holding) {
                    $("#holdings_table").append('<tr><td>' + holding.code + '</td><td>' + holding.quantity + '</td><td>' + holding.value + '</td></tr>');
                });	
	}
    });
});
  </script>
  </head>
 
  <body>
	<table id="holdings_table">
 		<tr>
  		 <th>Currency</th>
   		 <th>Quantity</th>
   		 <th>Value (USD)</th>
 		</tr>
	<table>
  </body>
</html>
