<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CryptoExchange | Holdings</title>
  <script src='js/jquery-3.3.1.js'></script>
  <script>

$( document ).ready(function() {


$.ajax({
    type: "GET",
    dataType: "json",
    url: "holdings/2", 
    success: function(response) {
        var sum = 0;
        $.each(response,function(i, holding) {
            $("#holdings_table").append('<tr><td class="code">' + holding.currency + '</td><td class="amount">' + holding.amount + '</td><td class="value"> $' + holding.value.toFixed(2) + '</td></tr>');
            sum += holding.value;
        })
        $("#holdings_table > tbody").after('<tr><td class="code">TOTAL</td><td class="amount">-</td><td class="value"> $' + sum.toFixed(2) + '</td></tr>');
    }	
});
});
  </script>
  </head>
 
  <body>
	<table id="holdings_table">
 		<tr>
  		 <th>Currency</th>
   		 <th>Quantity</th>
   		 <th>Value (USD)</th>
 		</tr>
	<table>
  </body>
</html>
