<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
  <script src='js/jquery-3.3.1.js'></script>
  <script>
$( document ).ready(function() {

    $.ajax({
        type: "GET",
        dataType: "json",
        url: "holdings/2", 
        success: function(response) {
	       $.each(response,function(i, holding) {
                    $("#my_currencies").append('<option value=' + holding.id + '>' + holding.code + '</option>');
                });	
	}
    });
    $.ajax({
        type: "GET",
        dataType: "json",
        url: "currencies/", 
//        data: {number: numberval},
        success: function(response) {
	       $.each(response,function(i, currency) {
                    $("#trade_currency").append('<option value=' + currency.id + '>' + currency.code + '</option>');
                });	
	}
    });
});
  </script>
  </head>
 
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>
 
<form> 
I want to trade my <select name="my_currency" id="my_currencies"> </select> for <input name="quantity" id="quantity"></input>   <select name="trade_currency" id="trade_currency"</select>
</select> 
</form> 
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>
