<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CryptoExchange | Trade</title>
  <script src='js/jquery-3.3.1.js'></script>
  <script>

$( document ).ready(function() {

    $.ajax({
        type: "GET",
        dataType: "json",
        url: "holdings/2", 
        success: function(response) {
	       $.each(response,function(i, holding) {
                    $("#my_currencies").append('<option value=' + holding.id + '>' + holding.code + '</option>');
                });	
	}
    });
    $.ajax({
        type: "GET",
        dataType: "json",
        url: "currencies/", 
//        data: {number: numberval},
        success: function(response) {
	       $.each(response,function(i, currency) {
                    $("#trade_currency").append('<option value=' + currency.id + '>' + currency.code + '</option>');
                });	
	}
    });
});
  </script>
  </head>
 
  <body>
	<form> 
	I want to trade my <select name="my_currency" id="my_currencies"> </select> for <input name="quantity" id="quantity"></input>   <select name="trade_currency" id="trade_currency"</select>
	</select> 
	</form> 
    </div>
  </body>
</html>
