<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CryptoExchange | Trade</title>
  <script src='js/jquery-3.3.1.js'></script>
  <script>

$( document ).ready(function() {

    $.ajax({
        type: "GET",
        dataType: "json",
        url: "holdings/", 
        success: function(response) {
	       $.each(response,function(i, holding) {
                    $("#from_currency_id").append('<option value=' + holding.currency_id + '>' + holding.currency_code.toString() + '</option>');
                });	
	}
    });
    $.ajax({
        type: "GET",
        dataType: "json",
        url: "currencies/", 
        success: function(response) {
	       $.each(response,function(i, currency) {
                    $("#to_currency_id").append('<option value=' + currency.id + '>' + currency.code + '</option>');
                });	
	}
    });
$( '#from_quantity,#from_currency_id,#to_currency_id' ).change(function() {
    $.ajax({
        type: "POST",
        dataType: "json",
        url: "convert_currency/", 
        data: $('#trade').serialize(),
        success: function(response) {

                    $("#to_quantity").val(response.quantity_to.toString() );
                }	
	});
})
});

function submitTrade (){
    $.ajax({
        url:'trades/',
        type:'post',
        data:$('#trade').serialize(),
        success:function(){
            window.location="/myholdings"
        }
    });
}
  </script>
  </head>
 
  <body>
	<form id="trade" name="trade" action="javascript: submitTrade()" method="POST"> 
        I want to trade <input name="from_quantity" id="from_quantity"></input> <select name="from_currency_id" id="from_currency_id"> </select> for <input name="to_quantity" id="to_quantity" readonly></input><select name="to_currency_id" id="to_currency_id"></select>
	</select> 
    <input type="hidden" name="success_url" value="/holdings">
	<input type="submit">
	</form> 
    </div>
  </body>
</html>
